.followBtn button {
  padding: 5px 15px;
  background-color: #5181b8;
  color: #fff;
  font-size: 13px;
  border-radius: 4px;
}

.followBtn .followed {
  background: #e5ebf1;
  color: #55677d;
}

.followBtnD button {
  background-color: #1c3177;
  color: #8ea6f4;
}

.followBtnD .followed {
  background-color: #8ea6f4;
  color: #1c3177;
}
.disabled {
  cursor: default;
}
