.about {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  padding: 15px;
  background-color: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  gap: 20px;
  block-size: fit-content;
}

.aboutD {
  box-shadow: 0 1px 2px rgba(255, 255, 255, 0.2);
  background-color: #1f222e;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.title {
  font-size: 20px;
  font-weight: 500;
}

.noData {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 300;
  font-size: 20px;
}

.aboutD .noData {
  color: unset;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.contact {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
}

.job img {
  width: 30px;
  height: 30px;
}

.job {
  white-space: pre-wrap;
  line-break: anywhere;
}

.infoIcon {
  align-self: flex-start;
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.contacts .icon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.vk {
  order: 1;
  background: #0077ff;
}

.instagram {
  order: 2;
  background: linear-gradient(225deg, #1400c8 0%, #b900b4 50.52%, #f50000 100%);
}

.facebook {
  order: 3;
  background: #1877f2;
}

.youtube {
  order: 4;
  background: #fe0000;
}

.twitter {
  order: 5;
  background: #1da1f2;
}

.github {
  order: 6;
  background: #14191e;
}

@media screen and (max-width: 700px) {
  .about {
    width: unset;
    max-width: unset;
  }
}
