.username {
  display: flex;
  font-weight: bold;
  font-size: 28px;

}

.usernameCursor {
   cursor: pointer;
}

.username span {
  padding-right: 5px;
}

.username svg {
  align-self: flex-start;
}

.usernameEditInput {
  padding: 5px;
  border-bottom: 1px solid #000;
}
