.header {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  background-color: #ffffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 10px 20px;
}

.headerD {
  box-shadow: 0px 1px 2px rgba(255, 255, 255, 0.2);
  background-color: #1f222e;
}

.user {
  display: grid;
  grid-template-columns: 130px 1fr;
  align-items: center;
  gap: 20px;
}

.username {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.username span {
  font-size: 28px;
  font-weight: bold;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.moreInfo {
  position: relative;
  display: flex;
  flex-direction: column;
}

.LFJ {
  display: flex;
  align-items: center;
}

.isLFJ {
  display: flex;
  align-items: center;
  justify-content: center;
}

.isLFJCursor {
  cursor: pointer;
}

.LFJ span {
  padding: 0 5px;
}

.arrow {
  cursor: pointer;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  grid-template-rows: 42px;
  align-content: center;
  justify-content: center;
  gap: 10px;
}

.button * {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-weight: 500;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}

.message button {
  padding: 10px 30px;
  font-size: 16px;
  background-color: #5181b8;
  color: #fff;
  border-radius: 4px;
}

.editProfile {
  background: #e5e6eb;
  font-size: 13px;
}

.editProfile a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1;
  padding: 10px;
}

.headerD .editProfile {
  background: #2c2f3b;
}

.headerD .editProfile button {
  color: #99a2ad;
}

.headerD .message button {
  background-color: #1c3177;
  color: #8ea6f4;
}

@media screen and (max-width: 500px) {
  .header {
    flex-direction: column;
    gap: 10px;
  }
  .editProfile {
    width: 100%;
  }
}
