.App {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
  background-size: 100%;
}

.container {
  display: grid;
  max-width: 1200px;
  width: 100%;
  /* gap: 10px; */
  margin: 0 auto;
  grid-template-areas:
    'header header '
    'sideMenu main';
  grid-template-rows: 50px 1fr;
  grid-template-columns: 200px 1fr;
}

#header {
  grid-area: header;
  display: flex;
  align-items: center;
}

#main {
  grid-area: main;
  display: flex;
}
